.galeria {
    display: flex;
    flex-wrap: wrap; /* Para que las imágenes se acomoden en una cuadrícula */
    justify-content: space-around;
  }

.gallery a {
    flex: 1 1 calc(50% - 50px);
    max-width: calc(50% - 15px);
}

.galeria img {
    width: 1000px; /* Ajusta este valor según el tamaño que quieras */
    margin: 30px;
  
    transition: transform 0.5s ease;
}

.gallery img:hover {
    transform: scale(1.10);
}